My_workflow_2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=** GOAL **\nUse SerpAPI tool to research Artificial Intelligence News. Give 5 most interesting ideas from today.\n\nEach of the 5 news item should be outputed separately.\n\nFor each news item I need:\nHeadline\nA paragraph of description\nLink to the source of the news item so that I can read further\n\n** Expected output for each news item **\nHeadline\nDescription\nLink\n\nFormat the answer in structured JSON.\n\nTime is {{ $now }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        240,
        0
      ],
      "id": "5707cb65-69d9-40f0-be83-199c2ba94227",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        580,
        200
      ],
      "id": "dee7e10c-2d79-45ec-aae1-2bdabff15b5d",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "wTmUEGMNm3YksmWp",
          "name": "SerpAPI account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "mindcraft-gpt4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        280,
        220
      ],
      "id": "4cf4f9ac-2f65-4b47-87ba-b237fe833dc2",
      "name": "Azure OpenAI Chat Model",
      "credentials": {
        "azureOpenAiApi": {
          "id": "8PhwUNHyT8tj1hLX",
          "name": "Azure Open AI account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let results = [];\n\nfor (const item of items) {\n  const rawOutput = item.json.output;\n\n  const startIndex = rawOutput.indexOf('[');\n  const endIndex = rawOutput.lastIndexOf(']') + 1;\n\n  if (startIndex === -1 || endIndex === -1 || endIndex <= startIndex) {\n    throw new Error('Valid JSON array not found in input.');\n  }\n\n  const jsonString = rawOutput.substring(startIndex, endIndex);\n  let parsedArray;\n\n  try {\n    parsedArray = JSON.parse(jsonString);\n  } catch (error) {\n    throw new Error('Failed to parse JSON: ' + error.message);\n  }\n\n  if (!Array.isArray(parsedArray)) {\n    throw new Error('Parsed result is not an array.');\n  }\n\n  // Push each object as a flat table-style item\n  for (const entry of parsedArray) {\n    results.push({ json: entry });\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        0
      ],
      "id": "5417c041-7f9f-4097-9f06-6365aca8790f",
      "name": "Code"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        820,
        0
      ],
      "id": "32fa720e-8d1b-4abc-a7ba-1a5c72acf4dc",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1-ZLjPoccT0fyYaAR8hIrl30muwJMWgXuPrUb23g1Ey8",
          "mode": "list",
          "cachedResultName": "AI News Agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-ZLjPoccT0fyYaAR8hIrl30muwJMWgXuPrUb23g1Ey8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-ZLjPoccT0fyYaAR8hIrl30muwJMWgXuPrUb23g1Ey8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Headlines": "={{ $json.Headline }}",
            "Description": "={{ $json.Description }}",
            "Link": "={{ $json.Link }}",
            "Date": "={{ $now .format('yyyy-MM-dd')}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Headlines",
              "displayName": "Headlines",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1060,
        20
      ],
      "id": "1ad4b843-7806-464d-94ee-5b77d93c0fa4",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kL2AozTrxxj94O4n",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "0c64ab08-2216-4e8d-afbc-417a7700661d",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "40374103-80cc-4979-b58b-cc2096645d7a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "226ce37753826e151a2c7957d444cb8c96f47d8e4ea1c5a280d4b956d0678c0f"
  },
  "id": "S0pwgdEfJhnWPK2u",
  "tags": []
}